<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span >Menú</span>
            <span class="stretcher"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list >
            <a routerLink="/espanol" mat-list-item > 
                Lista de palabras 
            </a>

            <a routerLink="" mat-list-item class="center-x"> 
                Home 
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="stretcher"></span>
        <app-create></app-create>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>